body {
  background-color: rgb(46, 153, 176, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0;
}

h1 {
  color: rgb(220, 20, 210);
  font-weight: bold;
  font-family: fantasy;
  margin-bottom: 0;
}

h3 {
  color: rgba(140, 0, 255, 0.637);
  font-weight: bolder;
  text-decoration: underline;
}

p {
  font-family: cursive;
  font-size: 0.7em;
  padding: 0 0 0 35px;
  width: 600px;
}

nav {
  background-color: rgba(61, 165, 42, 0.5);
  font-size: 30px;
  width: 1100px;
  margin: 0 0 30px 0;
}

nav a {
  text-decoration: none;
  margin: 0 30px;
}

.main_articles {
  background-color: #2e99b0;
  border: 8px dotted rgba(225, 0, 255, 0.431);
  border-radius: 40px;
  width: 1100px;
}

#drugi {
  border-style: hidden dotted dotted;
  margin: -24px 0;
}

#treci {
  border-style: hidden dotted dotted;
}

footer {
  background-color: #426a85;
  border-top: 5px solid red;
}
